.u-center-text {text-align: center;}

.u-margin-bottom-small {margin-bottom: 1.5rem;}
.u-margin-bottom-medium {margin-bottom: 4rem;}
.u-margin-bottom-large {margin-bottom: 8rem;}

.u-margin-top-large {margin-bottom: 8rem;}
.u-margin-top-huge {margin-bottom: 10rem;}